.page {
    margin: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(112, 112, 246, 0.616);
    background-image: url(https://cdn.wallpapersafari.com/16/91/i68PZT.jpg);
    background-size: cover;
    color: white;
}

input[type=submit] {
    background-color: #daad1d;
    width: 80px;
    height: 30px;
}

h1 {
    color: #daad1d ;
    text-decoration: underline;
}